src/main/mule/cicd1project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e720c30f-5775-4bb6-a89b-5c3994448b2e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd1projectFlow" doc:id="3c5193f5-0c04-4ea6-a5ba-a04b132b1d86" >
		<http:listener doc:name="Listener" doc:id="97d61cc8-9945-4c97-9275-20dc8ca59229" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="4913ca9c-60fb-48d6-869c-6315fecb903e" message='#["flow started"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="190dbaf7-2d84-4d31-bcb6-e031d38ebb5a" message='#["added new logger"]'/>
		<ee:transform doc:name="Transform Message" doc:id="3e05d485-92a2-46da-8be6-7d767484712b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "deploy to cloudhub using jenkins"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
